@font-face {
    font-family: 'Host Grotesk';
    src:
        url('fonts/Nunito-Bold.ttf')  format('truetype') /* Safari, Android, iOS */
}

:root {
  --rollout-glow: #270227;
  font-weight: 100;
  font-size: 18px;
  color: rgb(203, 202, 202);
}

@keyframes background-pan {
    from {
        background-position: 0% center;
    }
    to {
        background-position: -200% center;
    }
}
@keyframes bar {
    0% {
        background-position: 0% center;
    }
    33% {
        background-position: -200% center;
    }
    100% {
        background-position: -200% center;
    }
}
@keyframes float {
    0% {
        transform: translateY(1.1svh)
    }
    50% {
        transform: translateY(0svh)
    }
    100% {
        transform: translateY(1.1svh)
    }
}

@keyframes float-rotate {
    0% {
        transform: rotate(5deg)
    }
    50% {
        transform: rotate(-5deg)
    }
    100% {
        transform: rotate(5deg)
    }
}

@keyframes rollout-rollingout {
    0% {

    }
    49% {
        transform: translateY(29svh);
        z-index: -1;
    }
    50% {
        transform: translateY(29svh);
        z-index: 3;
    }
    100% {
        z-index: 3;
        box-shadow: var(--rollout-glow) 0px 0px 4svh 0px;
    }
}

@keyframes rollout-rollingin {
    0% {
        z-index: 3;
        box-shadow: var(--rollout-glow) 0px 0px 4svh 0px;
    }
    49% {
        transform: translateY(29svh);
        z-index: 3;
    }
    50% {
        transform: translateY(29svh);
        z-index:-1;
    }
    100% {
        
    }
}

@keyframes loading-blob-animation {
    0% {
        transform: translateX(-120%) translateY(100%);
    }
    30% {
        transform: translateX(0%) translateY(0%);
    }
    80% {
        transform: translateX(0%) translateY(0%);
    }
    100% {
        transform: translateX(100%) translateY(-100%);
    }
}

@keyframes loading-blob-animation-end {
    0% {
        transform: translateX(100%) translateY(-100%);
    }
    100% {
        transform: translateX(200%) translateY(-200%);
    }
}

@keyframes rocket-animation {
    0% {
        transform: translateX(-0.25svh) translateY(-0.25svh);
    }
    50% {
        transform: translateX(0.25svh) translateY(0.25svh);
    }
    100% {
        transform: translateX(-0.25svh) translateY(-0.25svh);
    }
}


@keyframes rocket-flame-animation {
    0% {
        transform: scaleY(80%) scaleX(110%);
    }
    50% {
        transform: scaleY(120%) scaleX(90%);
    }
    100% {
        transform: scaleY(80%) scaleX(110%);
    }
}

@keyframes rollout-hide {
    0% {

    }
    99% {
        transform: translateY(-10vh);
    }
    100% {
        visibility: hidden;
    }
}

@keyframes rollout-hide {
    0% {

    }
    98% {
        transform: translateY(-12%);
    }
    100% {
        visibility: hidden;
    }
}

@keyframes rollout-show {
    0% {
        transform: translateY(-12%);
        z-index: -3;
    }
    100% {
        z-index: -3;
    }
}


*, html, body {
    font-family: "Host Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 0;
    margin: 0;
}
html, body, #root{
    width:100%;
    height:100%;
}
body {
    background: black;
}
#background-renderer {
    position: fixed; z-index: -1000; width: 100%; height: 100vh; margin: 0; padding: 0;
    image-rendering: optimizeSpeed;
    filter: blur(0.3svh);
}
.circular-mask {
    border-radius: 50%;
    overflow: hidden;
    width: 11svh;
    height: 11svh;
}
#profile-picture-div {
    position: absolute;
    top: -8svh;
    left: calc(50% - 6.5svh);
    z-index: 2;
}
#profile-picture-img {
    transform-origin: 42.5% 42.5%;
    transform: translateX(-7.5%) translateY(-7.5%);
    width: 11svh;
    height: 11svh;
    transition-duration: 0.4s;
    user-select: none;
    -webkit-user-drag: none;
}
#profile-picture-img:hover {
    rotate: 90deg;
}
#language-div {
    position: absolute; padding: 10px; right: 20px; z-index: 1;
}
#language-renderer {
    width: 100%; height: 100vh; display: block; margin: 0; padding: 0; cursor: grab;
}
#section-positioner {
    position: absolute; top: 0; left: 50%; transform: translateX(-50%); z-index: 11; width: 920px; padding-top: 15px;
}
#projects {
    position: absolute; top: 50vh; left: 20%; transform: translateX(-50%); z-index: 11; width: 900px; height: auto; display: grid; grid-template-columns: 50% 50%; left: 50%; width: 90%;
}
#footer {
    background: linear-gradient(to bottom left, rgb(41, 11, 41),  rgb(44, 18, 44)); 
    margin-bottom: 0px; 
    padding: 0px; 
    left: 30%;
    position: absolute; 
    height: 50px;
    z-index: 12; 
    align-self: center; 
    width: 40%; 
    padding-top: 10px; 
    overflow: hidden; 
    bottom: 0; 
    border-top-left-radius: 20px; 
    border-top-right-radius: 20blovpx;
    transition: all 0.3s ease-in-out;
    transform-origin: center bottom;
    transform: scale(1);
}
#footer:hover {
    background: linear-gradient(to bottom left, rgb(41, 11, 41),  rgb(48, 19, 48)); 
    transform: scale(101%);
}
.description {
    scale: 0.85; transform-origin: left;
}
.profile-gradient {
    background: linear-gradient(to right, rgb(230, 160, 56), rgb(225, 74, 180), rgb(189, 37, 216), rgb(62, 163, 218));
    width: 11.5svh; height: 11.5svh;
}
.gradient-overlay {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(107, 29, 107, 0.3));
  background: -webkit-linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(107, 29, 107, 0.3) 100%);
  background: -moz-linear-gradient(to bottom right, rgba(0, 0, 0, 0.5), rgba(107, 29, 107, 0.3) 100%);
  position: fixed;
  width: 100%; height: 100%;
  top: 0px;
}
.devider {
    position: absolute; left: 60%; top: 0; height: 100%; width: 0.4vh; background-color: rgba(209, 209, 209, 0.1);
    border-radius: 20%;
}
.section {
    background: rgb(15, 15, 15);
    background: linear-gradient(to bottom right, rgba(15,15,16,1), rgb(44, 18, 44));
    background: -webkit-linear-gradient(to bottom right, rgba(15,15,16,1), rgb(44, 18, 44));
    background: -moz-linear-gradient(to bottom right, rgba(15,15,16,1), rgb(44, 18, 44));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f10",endColorstr="#152137",GradientType=1);
    border-radius: 4vh;
    height: 100%;
    padding-top: 6svh;
    padding-left: 35px;
    padding-right: 48px;
    padding-bottom: 48px;
    margin-bottom: 24px;
    transition: all 0.2s ease-in-out;
    transform-origin: center;
    transform: scale(1);
    position: relative;
}
.section .rocket-mask {
    border-radius: 4vh;
     position:absolute;
      height: 100%;
       width: 100%;
        left: 0px;
         top: 0px; 
         pointer-events: none;
}
.rollout {
    background: rgb(15, 15, 15);
    background: linear-gradient(to bottom right, rgba(36, 21, 36), rgba(52, 20, 52));
    background: -webkit-linear-gradient(to bottom right, rgba(15,15,16), rgb(44, 18, 44));
    background: -moz-linear-gradient(to bottom right, rgba(15,15,16), rgb(44, 18, 44));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0f0f10",endColorstr="#152137",GradientType=1);
    border-radius: 4vh;
    padding-top: 2svh;
    padding-left: 35px;
    padding-right: 48px;
    padding-bottom: 10svh;
    margin-bottom: 24px;
    margin-right: 1%;
    transition: all 0.4s ease-in-out;
    transform-origin: center;
    transform: scale(1);
    position: relative;
    width: 60%;
    height: 20svh;
    bottom: 32svh;
    filter: blur(0.2svh);
    z-index: -1;
    user-select: none;
}
.rollout:hover {
    transform: translateY(1svh);
    cursor: pointer;
    filter: none;
}
.rolling-out {
    animation: rollout-rollingout 1s ease-in-out forwards;
}
.rolling-in {
    animation: rollout-rollingin 1s ease-in-out forwards;
}
.rolled-out {
    z-index: 3;
    filter: none;
    box-shadow: var(--rollout-glow) 0px 0px 4svh 0px;
}
.rollout .button {
    position: absolute;
    bottom: 3%;
    width: 90%;
    left: 5%;
    height: 1svh;
    background: #514f519a;
    border-radius: 1svh;
}
.long-desc {
    width: 90%;
    overflow-wrap: break-word;
}
.section-card {
    padding-top: 5%; padding-bottom: 10%;
    margin-right: 2%;
    margin-left: 2%;
    margin-bottom: 0px;
}
.section:after {
    width: 1px;
    height: 80px;
    background: linear-gradient(
        rgba(0,0,0,0),
        rgb(150, 73, 238),
        rgba(0,0,0,0)
    );
    left: 0px;
    position: absolute;
    top: 60%;
    opacity: 0%;
    transition: all 0.15s ease-in-out;
    content: "";
}
.section:hover:after {
    top: 20%;
    opacity: 100%;
}
#projects .section {
    height: 20vh;
}
.section:hover {
    background: linear-gradient(to bottom right, rgb(16, 16, 16), rgb(48, 18, 48));
    box-shadow: #2702274f 0px 0px 4svh 0px;
}
.card {
    width: 10%;
}
.section button {
    color: white;
    background-color: #e032e0;
    border-radius: 120px;
    height: 6svh;
    border: none;
    width: 18vh;
    font-size: 22px;
    transition: all 0.25s ease-in-out;
    user-select: none;
}
.progress-bar {
    left: 10%; width: 90%; height: 1vh;
    background: linear-gradient(to right, rgb(128, 0, 128), rgb(187, 75, 212), rgb(128, 0, 128));
    background-size: 200%;
    border-radius: 1vh;
    animation: bar 6s linear infinite;
}
.tech-name img {
    width: 3.5vh;
    height: 3.5vh;
}
.section p {
    color: #CED7EB;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 32px;
}
.tech-name {
    font-size: x-large;
    color: #d6c7e0;
    height: 1px;
    transition: all 0.25s ease-in-out;
    transform: scale(1);
    transform-origin: right;
    cursor: default;
}
.tech-name:hover {
    transform: scale(102%) translateX(-0.5vh);
}
h1,h2,h3,h4,h5 {
    font-weight: 900;
    font-size: 36px;
    color: whitesmoke;
    margin-bottom: 1vh;
    width: max-content;
}
button:hover {
    animation-play-state: running;
    scale: 105%;
}
button {
    background: linear-gradient(to right, rgb(73, 0, 80), rgb(126, 0, 138), rgb(73, 0, 80));
    background-size: 200%;
    animation: background-pan 3s linear infinite;
    animation-play-state: paused;
    cursor: pointer;
}
.highlight {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, rgb(167, 0, 167), violet, rgb(228, 95, 217), rgb(167, 0, 167));
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
a.icon {
    transition: all 0.2s ease-in-out;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 30px;
    filter: invert(100%) brightness(40%);
}
a.icon:hover {
    scale: 110%;
    filter: invert(100%) brightness(60%);
}
#licence {
    text-align: right; right: 5%; color: rgb(170, 170, 170); padding-right: 2%;
}
#contacts {
    position: absolute; height: 50%; left: 3%; bottom: 10px; display: flex;
}
.other-tech {
    position: relative;left: 15%; display: flex; align-items: center; flex-direction: column;
}
.gradient-overlay div {
    position: absolute;
    width: fit-content; height: fit-content; animation: float 5s ease-in-out infinite;
}
.gradient-overlay img {
    position: absolute;
    z-index: 100000000;
    width: 7vh; height: 7vh; transform-origin: 50% 50%; animation: float-rotate 6s ease-in-out infinite;
    filter: blur(0.6svh);
    transition-duration: 0.5s;
    -webkit-user-drag: none;
}
.gradient-overlay img:hover {
    filter: none;
    scale: 1.5;
}
.rotate-away {
    transform-origin: 50% 0px 50vh;
    transform: rotateY(-90deg);
    transition: all 2s ease-in-out;
    opacity: 0%;
}
.rotated {
    transform: rotateY(90deg);
    position: absolute;
    height: 100%;
    width: 100%;
}
.rotate-in {
    transform-origin: 50% 0px 50vh;
    transform: rotateY(0deg);
    transition: all 2s ease-in-out;
    opacity: 100%;
}

.loading-blob {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: loading-blob-animation 1.5s ease-in-out forwards;
    visibility: visible;
}

.loading-blob-animation-end {
    animation: loading-blob-animation-end 0.3s ease-in-out forwards;
}

.rocket {
    animation: rocket-animation 0.5s ease-in-out infinite;
    width: 30%;
     left: 25%;
      top: 20%;
}

.rocket-flame {
    transform-origin: top;
    animation: rocket-flame-animation 0.5s ease-in-out infinite;
    width: 15%; rotate: 45deg; position: absolute; bottom: 6%; left: 9.5%;
}

.hidden {
    animation: none;
    visibility: hidden;
}

.hide .rollout {
    visibility: visible;
    animation: rollout-hide 1s ease-in-out forwards;
}
.show .rollout {
    animation: rollout-show 1s ease-in-out forwards;
}

.stupid-shit {
    user-select:  none;
    position: fixed;
     z-index: 2;
      height: 30%;
       width: 50%;
        left: 22.5%; 
        top: 30%;
}

.blob {
    transform-origin: top right;
    transform: scale(2.5);
    position: relative;
    top: -42.5%;
    right: 7.5%;
}

@media (max-width: 1080px) {
 .rocket {
    width: 40%;
    left: 15%;
    top: 35%
 }
 .section {
    height: 60vh;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
 }
 .stupid-shit {
    left: 0%;
    width: 100%;

 }
}
